<style>
    .body {
        height: 100%;
        background-color:rgb(187, 206, 255);
    }
</style>

<body class="bg-light d-flex flex-column min-vh-100">
    <h1 class="mb-4">Welcome to HexaGo!</h1>
    <p class="lead">Learn and connect with universities around the world.</p>
    <div class="mt-4">
        <a href="/sign-up-university" class="btn btn-primary me-2">Sign Up As University</a>
        <a href="/sign-up-student" class="btn btn-primary me-2">Sign Up As Student</a>
    </div>
    <br><br>
    <p class="lead">Already have an account?</p>
    <div class="mt-4">
        <a href="/login" class="btn btn-secondary">Login</a>
    </div>

</body>